.dub
docs.json
__dummy.html
docs/
dotty.so
dotty.dylib
dotty.dll
dotty.a
dotty.lib
dotty-test-*
*.exe
*.o
*.obj
*.lst
dotty
dub.selections.json
config.json
.vscode/
dotty.db
libbash.a
source/plugins/bash
libnimplug.a
